<div class="footer">
    <div class="container">
        <div class="social">
            <a target="_blank" href="https://www.facebook.com/elkorymobile?mibextid=LQQJ4d" class="facebook">
                <fa-icon [icon]="facebookIcon"></fa-icon>
            </a>

            <a target="_blank" href="https://www.instagram.com/elkoryphone/?igshid=YmMyMTA2M2Y%3D&fbclid=IwAR3wpaHr4ASaGTHlvF9a62ybWLgS5nBguqp_auvN01dBNnRd1yZv8syW8o0" class="instagram">
                <fa-icon [icon]="instaIcon"></fa-icon>
            </a>
        </div>
        <p class="copy-right text-center mb-0">© Copyright 2023 Elkoryphone. All rights reserved. All product pictures on site are property of Elkoryphone | Web Design: <a href="https://www.facebook.com/Omar.Emam1998/" target="_blank">Omar Elemam</a></p>
    </div>
</div>
